mongoDbUri = mongodb://localhost:27017/file-manager
mongoDbPassword = 123

privatekey = 123

LOCAL_SERVER = 
LOCAL_CLIENT = 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET = 

NODE_ENV= development